# EditorConfig helps maintain consistent coding styles
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Kotlin files
[*.kt]
ij_kotlin_spaces_around_range = false
ij_kotlin_continuation_indent_size = 4
ij_kotlin_code_style_defaults = KOTLIN_STYLE_GUIDE

# XML files
[*.xml]
ij_xml_spaces_around_equals_in_attributes = false
ij_xml_keep_line_breaks = true
ij_xml_attribute_wrap = normal
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# Gradle files
[*.gradle, *.gradle.kts]
indent_size = 4

# Properties files
[*.properties]
indent_size = 2
